<div class="form-group">
  <div class="col-lg-10">
    <div id="recaptcha_wrap">
      <div id="recaptcha_widget">
        <div class="clearfix">
          <div id="recaptcha_image" class="pull-left"></div>
          <div class="pull-right">
            <button id="recaptcha_reload" class="btn btn-default"><i class="icon-repeat"></i> </button>
          </div>
        </div>
        <input type="text" id="recaptcha_response_field" class="form-control" placeholder="{{placeholder}}" name="recaptcha_response_field" />
      </div>
    </div>
  </div>
</div>