<form id="form_contactform" class="form-horizontal" role="form">
  {{! here will be the single form elements, depending on config }}
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Absenden</button>
    </div>
  </div>
</form>